<div id="heroCarousel" class="carousel slide my-4" data-bs-ride="carousel" data-bs-interval="4000">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"
            style="background-color:#0056B3;"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"
            style="background-color:#0056B3;"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"
            style="background-color:#0056B3;"></button>
    </div>

    <div class="carousel-inner rounded-3 mx-auto" style="max-width:90%;">

        <div class="carousel-item active">
            <div class="rounded-3"
                style="height: 340px; background-image: url('/cuidate.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
        </div>

        <div class="carousel-item">
            <div class="rounded-3"
                style="height: 340px; background-image: url('/carruOfer.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
        </div>

        <div class="carousel-item">
            <div class="rounded-3"
                style="height: 340px; background-image: url('/merecesMejor.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>